body {
  background-color: #e898d0;
  color: #000;
}
a {
  text-decoration: none;
  color: #ee0d0d;
}
a:hover {
  color: #094609;
}
h1 {
  font-size: 3rem;
  font-family: 'Times New Roman', Times, serif;
  color: #606060;
}
Header {
  padding: 20px 10px;
  background-color: rgb(219, 160, 219);
}